.container {
  border: 1px solid rgb(224, 223, 224);
  margin: 20px 0px 0px 0px;
  height: 278px;
}

.resultsContainer {
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.resultsItem {
  text-align: center;
  color: rgb(15, 39, 74);
  font-family: Nova Flat;
  font-size: 15px;
  font-weight: lighter;
  height: 20px;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
}

.resultsItem:hover {
  background-color: rgb(15, 39, 74);
  color: white;
}

.textbox {
  border-radius: 25px;
  border: 2px solid lightgrey;
  padding: 20px;
  width: 50%;
  height: 1px;
  background-image: url('./img/mic.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(246, 246, 246);
  margin-left: 20%;
  margin-top: 10px;
  -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
}

.box {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  overflow-y: scroll;
}
.box > * {
  flex: 1 1 160px;
  margin: 10px 10px 10px 10px;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to bottom, white, rgb(220, 220, 220));
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid rgb(224, 223, 224);
  font-family: Nova Flat;
  font-size: 20px;
  font-weight: lighter;
}
