header {
  grid-area: header;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  padding: 20px;
}
article {
  grid-area: content;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  padding: 20px;
}
aside {
  grid-area: sidebar;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
footer {
  padding: 20px;
  grid-area: footer;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
footer img {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'header  header'
    'sidebar content'
    'footer  footer';
}
