header {
  grid-area: header;
  background: whitesmoke;
  padding: 0px;
  height: 50px;
  width: 100%;
}
map {
  grid-area: map;
  background: linear-gradient(to bottom, whitesmoke, white);
  padding: 0px;
}
shoppinglist {
  grid-area: shopping;
  background: linear-gradient(to bottom, whitesmoke, white);
}
searchlist {
  grid-area: search;
  background: linear-gradient(to bottom, whitesmoke, white);
}
footer {
  padding: 20px;
  grid-area: footer;
  background: white;
}
footer img {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  max-width: 800px;
  min-width: 600px;
  border: 5px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'header       header'
    'map          map'
    'shopping     search'
    'footer       footer';
}
